- @page_title = "Impuestos"
= content_for :header do
  %p.buttons= link_to "Regresar", :tax_rates, :class => 'button grey'
  %h2.tax_rates Impuestos

= form_for @tax_rate do |f|
  = f.error_messages
  = field_set_tag "Detalles" do
    .splitContainer
      %dl.half
        %dt= f.label :name, "Nombre"
        %dd= f.text_field :name, :class => 'focus text'
      %dl.half
        %dt= f.label :rate, "Impuesto"
        %dd= f.text_field :rate, :class => 'text'
  
  = field_set_tag "Restricción de país" do
    %dl
      %dd
        = f.select :address_type, Shoppe::TaxRate::ADDRESS_TYPES.map { |a| ["Aplica para direcciones con #{a} ".html_safe, a]}, {}, :class => 'chosen-basic'
    %dl
      %dd
        = f.collection_select :country_ids, Shoppe::Country.ordered, :id, :name, {}, {:class => 'chosen', :multiple => true, :data => {:placeholder => "Todos los países"}}
  %p.submit
    - unless @tax_rate.new_record?
      %span.right= link_to "Eliminar", @tax_rate, :class => 'button purple', :method => :delete, :data => {:confirm => "¿Está seguro?"}
    = f.submit :class => 'button green'
    = link_to "Cancelar", :tax_rates, :class => 'button'
