= form_for @country do |f|
  = f.error_messages
  = field_set_tag "Detalles" do
    .splitContainer
      %dl.third
        %dt= f.label :name, "Nombre"
        %dd= f.text_field :name, :class => 'focus text'
      %dl.third
        %dt= f.label :code2, "ISO 3166-alpha-2"
        %dd= f.text_field :code2, :class => 'text'
      %dl.third
        %dt= f.label :code3, "ISO 3166-alpha-3"
        %dd= f.text_field :code3, :class => 'text'
    .splitContainer
      %dl.third
        %dt= f.label :continent, "Continente"
        %dd= f.text_field :continent, :class => 'text'
      %dl.third
        %dt= f.label :tld, "TLD"
        %dd= f.text_field :tld, :class => 'text'
      %dl.third
        %dt= f.label :eu_member, "UE?"
        %dd.checkbox
          = f.check_box :eu_member
          = f.label :eu_member, 'Miembro de la Union Europea?'

  %p.submit
    - unless @country.new_record?
      %span.right= link_to "Eliminar", @country, :class => 'button purple', :method => :delete, :data => {:confirm => "¿Deseas eliminar?"}
    = f.submit "Guardar" :class => 'button green'
    = link_to "Cancelar", :countries, :class => 'button'
