= form_for @product_category do |f|
  = f.error_messages
  = field_set_tag 'Detalles de categoria' do
    .splitContainer
      %dl.half
        %dt= f.label :name, "Nombre"
        %dd= f.text_field :name, :class => 'focus text'
      %dl.half
        %dt= f.label :permalink
        %dd= f.text_field :permalink, :class => 'text'
    %dl
      %dt= f.label :description, "Descripción"
      %dd= f.text_area :description, :class => 'text'
  = field_set_tag "Adjuntos" do

    %dl
      %dt= f.label :image_file, "Imagen"
      %dd
        = attachment_preview @product_category.image
        %p= f.file_field :image_file

  %p.submit
    - unless @product_category.new_record?
      %span.right= link_to "Eliminar", @product_category, :class => 'button purple', :method => :delete, :data => {:confirm => "¿Está seguro?"}
    = f.submit :class => 'button green'
    = link_to "Cancelar", :product_categories, :class => 'button'
