.status-bar
  %ul
    - if @order.received?
      %li.received
        %h4 Orden recibida
        %p el #{@order.received_at.to_s(:short)} a #{@order.ip_address}

    - if @order.accepted?
      %li.accepted
        %h4 Orden acceptada
        %p
          el #{@order.accepted_at.to_s(:short)}
          - if @order.accepter
            por #{@order.accepter.short_name}
        
    - elsif @order.rejected?
      %li.rejected
        %h4 Orden rechazada
        %p
          el #{@order.rejected_at.to_s(:short)}
          - if @order.rejecter
            por #{@order.rejecter.short_name}

    - if @order.shipped?
      %li.shipped
        %h4 Orden enviada
        %p el #{@order.shipped_at.to_s(:short)} por #{@order.shipper.try(:short_name) || 'Unknown'}
        - if @order.delivery_service && @order.courier_tracking_url
          %p= link_to "URL de rastreo", @order.courier_tracking_url
        - else
          %p Número de rastreo # <b>#{@order.consignment_number}</b>
