- @page_title = 'Orden #' + @order.number

= content_for :header do
  %p.buttons
    = link_to "Editar", [:edit, @order], :class => 'button'
    - if @order.accepted?
      = link_to "Nota de despacho", [:despatch_note, @order], :class => 'button', :rel => 'print'
    = link_to "Regresar", :orders, :class => 'button grey'
  %h2.orders Orden <b>##{@order.number}</b>

#order

  - if @order.received?
    = render 'order_details'
    = render 'status_bar'
  - else
    %p.warning
      Esta orden fue realizada por un cliente de tu tienda. Solo puedes visualizar el contenido.

  = field_set_tag "Productos de la orden", :class => 'padded' do
    = render 'order_items'
  
  - if @order.received?
    = field_set_tag "Pago", :class => 'padded orderPayments' do
      = render 'payments_table'
      = render 'payments_form'
