= form_for [@delivery_service, @delivery_service_price] do |f|
  = f.error_messages
  = field_set_tag "Identificacion y peso" do
    .splitContainer
      %dl.third
        %dt= f.label :code, "Codigo"
        %dd= f.text_field :code, :class => 'focus text'
      
      %dl.third
        %dt= f.label :min_weight, "Peso minimo"
        %dd= f.text_field :min_weight, :class => 'text'
      %dl.third
        %dt= f.label :max_weight, "Peso maximo"
        %dd= f.text_field :max_weight, :class => 'text'

  = field_set_tag "Precio" do
    .splitContainer
      %dl.third
        %dt= f.label :price, "Precio"
        %dd
          .moneyInput
            .currency= Shoppe.settings.currency_unit.html_safe
            = f.text_field :price, :class => 'text'
      %dl.third
        %dt= f.label :cost_price, "Costo"
        %dd
          .moneyInput
            .currency= Shoppe.settings.currency_unit.html_safe
            = f.text_field :cost_price, :class => 'text'
      %dl.third
        %dt= f.label :tax_rate_id, "Impuestos"
        %dd= f.collection_select :tax_rate_id, Shoppe::TaxRate.ordered, :id, :description, {:include_blank => true}, {:class => 'chosen-with-deselect', :data => {:placeholder => "Sin impuestos"}}

  = field_set_tag "Paises" do
    %dl
      %dd
        = f.collection_select :country_ids, Shoppe::Country.ordered, :id, :name, {}, {:class => 'chosen', :multiple => true, :data => {:placeholder => "Todos los paises"}}
        %p.help Este servicio solo se mostrará a los países seleccionados.

  %p.submit
    - unless @delivery_service_price.new_record?
      %span.right= link_to "Eliminar", [@delivery_service, @delivery_service_price], :class => 'button purple', :method => :delete, :data => {:confirm => "¿Estás seguro?"}
    = f.submit "Guardar" :class => 'button green'
    = link_to "Cancelar", [@delivery_service, :delivery_service_prices], :class => 'button'
