- @page_title = "Servicios de Paqueteria"

= content_for :header do
  %p.buttons
    = link_to "Nuevo precio", [:new, @delivery_service, :delivery_service_price], :class => 'button green'
    = link_to "Regresar", :delivery_services, :class => 'button'
  %h2.delivery_services Delivery Pricing for #{@delivery_service.name}

.table
  %table.data
    %thead
      %tr
        %th Codigo
        %th Peso permitido
        %th Precio
        %th Costo
    %tbody
      - for price in @delivery_service_prices
        %tr
          %td= link_to price.code, [:edit, @delivery_service, price]
          %td #{number_to_weight price.min_weight} &rarr; #{number_to_weight price.max_weight}
          %td= number_to_currency(price.price)
          %td= number_to_currency price.cost_price
          